<%= form_with model: profile, local: true, class: "form" do |form| %>
  <% if profile.errors.any? %>
    <div>
      <h2>
        <%= pluralize(profile.errors.count, "error") %>
      </h2>
      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="inputfile-container">
    <%= form.label :profile_image, class: "inputfile-label", value: "Upload a profile image" %>
    <%= form.file_field :profile_image, accept: "image/png,image/gif,image/jpeg,image/jpg", class: "inputfile" %>
  </div>
  <div>
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div>
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>
  <div>
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>
  <%= form.submit class: "button "%>
<% end %>