<h1>Welcome, <%= @profile.first_name %></h1>

<div>
  <h2>Name</h2>
  <p>
    <%= @profile.first_name %> <%= @profile.last_name %>
  </p>
</div>
<div>
  <h2>Location</h2>
  <p>
    <%= @profile.location %>
  </p>
</div>
<div>
  <h2>Bio</h2>
  <p>
    <%= @profile.bio %>
  </p>
</div>

