<main class="profile">
  <header class="profile__main">
    <div class="profile__image">
      <%= image_tag @profile.profile_image if @profile.profile_image.attached? %>
    </div>
    <h1>
      <%= @profile.first_name %> <%= @profile.last_name %>
    </h1>
    <span>
      <%= @profile.location %>
    </span>
    <% if @profile.rating %>
      <span>
        <%= @profile.rating %> stars
      </span>
      <span>
        <%= "#{@profile.user.reviews.length} #{@profile.user.reviews.length > 0 ? "Reviews" : "Review"}" %>
      </span>
    <% end %>
    <% if user_signed_in? %>
      <% if @profile.user_id == current_user.id %>
        <ul>
          <li>
            <%= link_to 'Edit Profile', edit_profile_path %>
          </li>
          <li>
            <%= link_to 'Create new Crawl', new_crawl_path %>
          </li>
        </ul>
      <% end %>
    <% end %>
  </header>

<div class="container">
  <section class="profile__bio">
    <h2>About</h2>
    <p>
      <%= @profile.bio %>
    </p>
  </section>

  <% if @current_crawls.length > 0 %>
    <section class="profile__current-crawls">
      <h2>Crawls</h2>
        <ul>
          <% @current_crawls.each do |crawl| %>
            <li class="crawl-card">
              <div class="crawl-card__image">
                <%= image_tag crawl.crawl_image %>
              </div>
              <div class="crawl-card__text">
                <h3>
                  <%= crawl.title %>
                </h3>
                <span>
                  <%= number_to_currency(crawl.price / 100.0) %>
                </span>
                <%= link_to 'Details', crawl_path(crawl) %>
              </div>
            </li>
        <% end %>
        </ul>
    </section>
  <% end %>

  <% if @previous_crawls.length > 0 %>
    <section class="profile__past-crawls">
      <h2>Previous Crawls</h2>
      <ul>
        <% @previous_crawls.each do |crawl| %>
          <li class="crawl-card">
            <div class="crawl-card__image">
              <%= image_tag crawl.crawl_image %>
            </div>
            <div class="crawl-card__text">
              <h3>
                <%= crawl.title %>
              </h3>
              <span>
                <%= number_to_currency(crawl.price / 100.0) %> pp
              </span>
              <%= link_to 'Details', crawl_path(crawl) %>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <% if @attending.length > 0 %>
    <section class="profile__attending">
      <h2>
        Attending(<%= @attending.length %>)
      </h2>
      <ul>
        <% @attending.each do |crawl| %>
          <li class="crawl-card">
            <div class="crawl-card__image">
              <%= image_tag crawl.crawl_image %>
            </div>
            <div class="crawl-card__text">
              <h3>
                <%= crawl.title %>
              </h3>
              <span>
                <%= number_to_currency(crawl.price / 100.0) %>
              </span>
              <%= link_to 'Details', crawl_path(crawl) %>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <% if @attended.length > 0 %>
    <section>
      <h2>
        Attended(<%= @attended.length %>)
      </h2>
      <ul>
        <% @attended.each do |crawl| %>
          <li class="crawl-card">
            <div class="crawl-card__image">
              <%= image_tag crawl.crawl_image %>
            </div>
            <div class="crawl-card__text">
              <h3>
                <%= crawl.title %>
              </h3>
              <span>
                <%= number_to_currency(crawl.price / 100.0) %>
              </span>
              <%= link_to 'Details', crawl_path(crawl) %>
              <% if user_signed_in? && @profile.user.id == current_user.id %>
                <% if crawl.reviews.pluck(:user_id).include?(current_user.id) %>
                  You reviewed this
                <% else %>
                  <%= link_to 'Pending Review', new_review_path(crawl_id: crawl.id) %>
                <% end %>
              <% end %>
            </div>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
</div>

<% if @profile.user.reviews.length > 0 %>
  <%= render 'partials/reviews', reviews: @reviews, profile: true %>
<% end %>
  
</main>
