<h1><%= @profile.first_name %></h1>

<%= image_tag @profile.profile_image if @profile.profile_image.attached? %>

<div>
  <h2>Name</h2>
  <p>
    <%= @profile.first_name %> <%= @profile.last_name %>
  </p>
</div>
<div>
  <h2>Location</h2>
  <p>
    <%= @profile.location %>
  </p>
</div>
<div>
  <h2>Bio</h2>
  <p>
    <%= @profile.bio %>
  </p>
</div>

<% if user_signed_in? %>
  <% if @profile.user_id == current_user.id %>
    <%= link_to 'Edit Profile', edit_profile_path %>
    <%= link_to 'Create new Crawl', new_crawl_path %>
  <% end %>
<% end %>

<% if @profile.user.crawls.any? %>
  <h2>Crawls</h2>
  <% @profile.user.crawls.each do |crawl| %>
    <h3>
      <%= crawl.title %>
    </h3>
    <span>
      <%= number_to_currency(crawl.price) %>
    </span>
    <%= link_to 'Details', crawl_path(crawl) %>
  <% end %>
<% end %>

<% if user_signed_in? %>
  <% if @attending.length %>
    <h2>
      Attending(<%= @attending.length %>)
    </h2>
    <ul>
      <% @attending.each do |crawl| %>
        <li>
          <%= link_to crawl.title, crawl_path(crawl.id) %>
          <%= crawl.user.profile.first_name %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>