<%= form_with model: @crawl, local: true do |form| %>
  <h2>General Info</h2>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <h2>Itinerary</h2>
  <div>
    <%= fields_for :location, @location do |location_fields| %>
      <div>
        <%= location_fields.label :title %>
        <%= location_fields.text_field :title %>
      </div>
      <div>
        <%= location_fields.label :location %>
        <%= location_fields.text_field :location %>
      </div>
      <div>
        <%= location_fields.label :description %>
        <%= location_fields.text_area :description %>
      </div>
    <% end %>
  </div>
  <h2>Availability</h2>
  <div>
    <%= form.label :crawl_date %>
    <%= form.date_field :crawl_date, value: Date.today %>
  </div>
  <div>
    <%= form.label :crawl_time %>
    <%= form.time_field :crawl_time %>
  </div>
  <div>
    <%= form.label :max_attendees %>
    <%= form.number_field :max_attendees %>
  </div>
  <h2>Pricing</h2>
  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>
  <%= form.submit %>
<% end %>
