<div class="nested-fields">
  <div>
    <%= form.label :location_image %>
    <%= form.file_field :location_image, accept: "image/png,image/gif,image/jpeg,image/jpg" %>
  </div>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: "location_1" %>
  </div>
  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <%= link_to_remove_association "Remove location", form %>
</div>