<main class="crawl">
  <header>
    <div class="crawl__image">
      <%= image_tag @crawl.crawl_image if @crawl.crawl_image.attached? %>
    </div>
    <div class="container">
      <section class="crawl__main-info">
        <h1 class="crawl__title">
          <%= @crawl.title %>
        </h1>
        <% if @crawl.user.id == current_user.id %>
          <%= link_to 'Edit', edit_crawl_path %>
        <% end %>
        <span>
          <%= @crawl.location %>
        </span>
        <span>
          <%= link_to "#{@crawl.user.profile.first_name} #{@crawl.user.profile.last_name}", profile_path(@crawl.user.profile) %>
        </span>
        <span class="crawl__price">
          <%= number_to_currency(@crawl.price) %> pp
        </span>
        <span class="crawl__max-attendees">
          Max <%= @crawl.max_attendees %> <%= @crawl.max_attendees > 1 ? "People" : "Person" %>
        </span>
        <% if @crawl.rating %>
          <span>
            Rating: <%= @crawl.rating %> stars
          </span>
          <span>
            <%= "#{@crawl.reviews.length} #{@crawl.reviews.length > 1 ? "Reviews" : "Review"}" %>
          </span>
        <% end %>
      </section>
    </div>
  </header>

  <div class="container">
    <section class="crawl__attendees">
      <h2>
        <% if @crawl.crawl_date.past? %>
          Attended
        <% else %>
          Attending
        <% end %>
      </h2>
      <p>
        <%= crawl_attendees_string %>
      </p>
    </section>
  </div>

  <div class="container">
    <section class="crawl__description">
      <h2>Description</h2>
      <p>
        <%= @crawl.description %>
      </p>
    </section>
  </div>

  <div class="container">
    <section class="crawl__itinerary">
      <h2>Itinerary</h2>
        <% @crawl.locations.each do |location| %>
          <div class="crawl__location">
            <% if location.location_image.attached? %>
              <div class="crawl__location__image">
                <%= image_tag location.location_image %>
              </div>
            <% end %>
            <h3>
              <%= location.title %>
            </h3>
            <span>
              <%= location.location %>
            </span>
            <p>
              <%= location.description %>
            </p>
          </div>
        <% end %>
    </section>
  </div>
  
  <div class="container">
    <section class="crawl__guide">
      <h2>Your Guide</h2>
        <p>
          <%= @crawl.user.profile.first_name %>
        </p>
        <p>
          <%= @crawl.user.profile.bio %>
        </p>
    </section>
  </div>

  <div class="container">
    <% if @crawl.crawl_date.past? %>
      <section class="crawl__reviews">
        <h2>Reviews</h2>
          <% if @reviews.length > 0 %>
            <% @reviews.each do |review| %>
              <div class="crawl__review">
                <div class="crawl__review__profile-image">
                  <%= image_tag review.user.profile.profile_image %>
                </div>
                <h3>
                  <%= link_to "#{review.user.profile.first_name} #{review.user.profile.last_name}",profile_path(review.user.profile) %>
                </h3>
                <span>
                  "<%= review.title %>"
                </span>
                <span>
                  <%= review.rating %> stars
                </span>
                <p>
                  <%= review.body %>
                </p>
                <% if review.user.id == current_user.id %>
                  <%= link_to 'Edit', edit_review_path(review_id:review.id, crawl_id: @crawl.id) %>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <p>No reviews yet</p>
          <% end %>
      </section>
    <% else %>
      <% if @attendees.include?(current_user) %>
        <%= link_to 'Cancel Booking', attendee_path(crawl:@crawl.id, user: current_user.id), method: :delete %>
      <% else %>
        <button data-stripe="payment">Book</button>
      <% end %>
    <% end %>
  </div>
</main>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
    const stripe = Stripe("<%= @public_key %>");
    stripe.redirectToCheckout({
      sessionId: "<%= @session_id %>"
    });
  });
</script>
  