<%= image_tag @crawl.crawl_image if @crawl.crawl_image.attached? %>
<h1>
  <%= @crawl.title %>
</h1>
<% if @crawl.user.id == current_user.id %>
  <%= link_to 'Edit', edit_crawl_path %>
<% end %>
<p>
  <%= @crawl.location %>
</p>
<p>
  <%= link_to @crawl.user.profile.first_name, profile_path(@crawl.user.profile) %>
</p>
<p>
  <%= @crawl.description %>
</p>
<h2>
  Attending(<%= @attendees.length %>)
</h2>
<ul>
  <% @attendees.each do |attendee| %>
    <li>
      <%= link_to attendee.profile.first_name, profile_path(attendee.profile) %>
    </li>
  <% end %>
</ul>
<h2>Itinerary</h2>
  <% @crawl.locations.each do |location| %>
    <%= image_tag location.location_image if location.location_image.attached? %>
    <h3>
      <%= location.title %>
    </h3>
    <span>
      <%= location.location %>
    </span>
    <p>
      <%= location.description %>
    </p>
  <% end %>
<h2>Crawl Route</h2>
<h2>Your Guide</h2>
<p>
  <%= @crawl.user.profile.first_name %>
</p>
<p>
  <%= @crawl.user.profile.bio %>
</p>

<% if @crawl.user.id != current_user.id %>
  <% if @attendees.include?(current_user) %>
    <%= link_to 'Cancel Booking', attendee_path(crawl: @crawl.id, user: current_user.id), method: :delete %>
  <% else %>
    <%= link_to 'Book', attendees_path(crawl: @crawl.id, user: current_user.id), method: :post %>
  <% end %>
<% end %>
  