<h1>
  <%= @crawl.title %>
</h1>
<p>
  <%= @crawl.location %>
</p>
<p>
  <%= @crawl.user.profile.first_name %>
</p>
<p>
  <%= @crawl.description %>
</p>
<h2>Itinerary</h2>
<h2>Crawl Route</h2>
<h2>Your Guide</h2>
<p>
  <%= @crawl.user.profile.first_name %>
</p>
<p>
  <%= @crawl.user.profile.bio %>
</p>

