<%= image_tag @crawl.crawl_image if @crawl.crawl_image.attached? %>
<h1>
  <%= @crawl.title %>
</h1>
<% if @crawl.user.id == current_user.id %>
  <%= link_to 'Edit', edit_crawl_path %>
<% end %>
<p>
  <%= @crawl.location %>
</p>
<p>
  <%= link_to @crawl.user.profile.first_name, profile_path(@crawl.user.profile) %>
</p>
<p>
  <%= @crawl.description %>
</p>
<h2>
  <% if @crawl.crawl_date.past? %>
    Attended(<%= @attendees.length %>)
  <% else %>
    Attending(<%= @attendees.length %>)
  <% end %>
</h2>
<ul>
  <% @attendees.each do |attendee| %>
    <li>
      <%= link_to attendee.profile.first_name, profile_path(attendee.profile) %>
    </li>
  <% end %>
</ul>
<h2>Itinerary</h2>
  <% @crawl.locations.each do |location| %>
    <%= image_tag location.location_image if location.location_image.attached? %>
    <h3>
      <%= location.title %>
    </h3>
    <span>
      <%= location.location %>
    </span>
    <p>
      <%= location.description %>
    </p>
  <% end %>
<h2>Crawl Route</h2>
<h2>Your Guide</h2>
<p>
  <%= @crawl.user.profile.first_name %>
</p>
<p>
  <%= @crawl.user.profile.bio %>
</p>

<% if @crawl.user.id != current_user.id %>
  <% if @crawl.crawl_date.past? %>
    <h3>Reviews</h3>
    <% if @reviews.length > 0 %>
      <% @reviews.each do |review| %>
        <h4>
          <%= review.title %>
        </h4>
        <span>
          <%= review.rating %>
        </span>
        <p>
          <%= link_to review.user.profile.first_name, profile_path(review.user.profile) %>
        </p>
        <p>
          <%= review.body %>
        </p>
        <% if review.user.id == current_user.id %>
          <%= link_to 'Edit', edit_review_path(review_id: review.id, crawl_id: @crawl.id) %>
        <% end %>
      <% end %>
    <% else %>
      <p>No reviews yet</p>
    <% end %>
  <% else %>
    <% if @attendees.include?(current_user) %>
      <%= link_to 'Cancel Booking', attendee_path(crawl: @crawl.id, user: current_user.id), method: :delete %>
    <% else %>
      <button data-stripe="payment">Book</button>
    <% end %>
  <% end %>
<% end %>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
    const stripe = Stripe("<%= @public_key %>");
    stripe.redirectToCheckout({
      sessionId: "<%= @session_id %>"
    });
  });
</script>
  