<section class="crawl__main-info">
      <h1 class="crawl__title">
        <%= type == "new" ? "New" : "Edit" %> Review: 
        <%= crawl.title %>
      </h1>
      <span>
        <%= crawl.location %>
      </span>
      <span>
        <%= link_to "#{crawl.user.profile.first_name} #{crawl.user.profile.last_name}", profile_path(crawl.user.profile) %>
      </span>
      <span>
        <%= crawl.crawl_date.strftime("%m/%d/%Y, %I:%M%p") %>
      </span>
      <span class="crawl__price">
        <%= number_to_currency(crawl.price / 100.0) %> pp
      </span>
    </section>