<%= form_with model: review, class: "form", local: true do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :rating %>
    <%= form.number_field :rating, in: 0..5, step: 0.5 %>
  </div>
  <div>
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>
  <%= hidden_field_tag(:crawl_id, crawl.id) %>
  <%= hidden_field_tag(:review_id, review.id) %>
  <%= form.submit type == "new" ? "Post Review" : "Edit Review", class: "btn" %>
  <% if type == "edit" %>
    <%= link_to 'Delete Review', review_path(review_id: @review.id, crawl_id: @crawl.id), method: :delete, class: "btn" %>
  <% end %>
<% end %>